.leftspace {
	margin-left: 20px;
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.l-box {
    padding: 1em;
    margin: 0.5em 0.25em;
	border: 1px solid rgba(125,125,125,1);
	border-radius: 1px;
	background-color: #eee;
}

.listingHeading{
	padding-left: 0.5em;
}

.highlight {
	text-decoration: bold;
}

.dropdown {
	margin-left: 0.25em;
}