{% extends "base.html" %}
{% block content %}
  <h1>{{ user.nickname }}!</h1>
   {% for list in lists %} 
    <div> {{ list.user.nickname }}</div>
    {% if list.buysell %}
    	<p> BUYING </p>
    {% else %}
    	<p> SELLING </p>
    {% endif %}
    <div class = "listing"><p> Description: {{list.details}}</b></p></div>
    <div class = "location"><p> Location: {{list.location}}</p></div>
    <div class = "time-avail"><p> Exchange Rate: {{list.exchangerate}}</p></div>
    {% endfor %}
	<form action="" method="post" name="login">
      {{ form.hidden_tag() }}
       {{ form.description(size=80) }}
      <p><input type="submit" value="Sign In"></p>
  </form>
{% endblock %}