{% extends "base.html" %}
{% block content %}
  <h2 class = "pagehead">Sign in</h2>
  <form action = "" method = "post" name = "login">
    <div class = "pure-form pure-form-stacked">
  	{{form.hidden_tag()}}
    	<fieldset>
        <legend> Login Form </legend>
         {{form.nickname(size=60,placeholder="Name")}}
          {% for error in form.nickname.errors %}
            <a style = "color: red;">[{{error}}]</a>
          {% endfor %}
         {{form.password(size=60,placeholder="Password")}} 
        {% for error in form.password.errors %}
            <a style = "color: red;">[{{error}}]</a>
          <br>
        {% endfor %}
          <br>
         <label for = "remember">
          {{form.remember_me(id="remember")}} Remember Me
         </label>
         <br>
         <input class = "pure-button pure-button-primary" type = "submit" value = "Sign in">
         <br>
      </fieldset>
    </div>
  </form>
  <p><a href = "{{url_for('register')}}" class = "pure-button">Register a new account</a></p>
{% endblock %}
